$primary-color: #FF585D;
$secondary-color: #FF385C;
$tertiary-color: #484848;

$white: #fff;
$black: #111;
$gray: #717171;
$gray-100: #fffbfe;
$gray-200: #fafbfe;
$gray-300: #fafafb;
$gray-400: #e6ebf2;
$gray-500: #b7c3d3;
$gray-600: #93a4bc;
$gray-700: #525c6b;
$gray-800: #4d535b;
$gray-900: #424953;

$font-family-base: 'Roboto', sans-serif;

$border-radius: 8px;
$box-shadow: 0 0.5rem 1rem #00000021;
$box-shadow-sm: 0 0.125rem 0.25rem #00000013;

$transition-base: 0.2s ease;