@import '../../sass/variables';

.Reservations {
  gap: 25px;
  display: grid;
  padding: 25px;
}

.Reservations__container {
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media screen and (min-width: 768px) {
  .Reservations {
    padding: 25px 50px;
  }
}

@media screen and (min-width: 1440px) {
  .Reservations {
    padding: 50px 15%;
  }
}