:root {
  --primary-color: #FF585D;
  --secondary-color: #FF385C;
  --tertiary-color: #484848;

  --white: #fff;
  --black: #111;
  --gray: #717171;
  --gray-100: #fffbfe;
  --gray-200: #fafbfe;
  --gray-300: #fafafb;
  --gray-400: #e6ebf2;
  --gray-500: #b7c3d3;
  --gray-600: #93a4bc;
  --gray-700: #525c6b;
  --gray-800: #4d535b;
  --gray-900: #424953;

  --font-family-base: 'Roboto', sans-serif;

  --border-radius: 8px;
  --box-shadow: 0 0.5rem 1rem #00000021;
  --box-shadow-sm: 0 0.125rem 0.25rem #00000013;

  --transition-base: 0.2s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--black);
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button {
  border: none;
  display: flex;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: var(--transition-base);
  border-radius: var(--border-radius);
  font-family: var(--font-family-base);
}

.btn {
  color: var(--white);
  background-color: var(--secondary-color);
}

.btn-link {
  border: none;
  background: none;
  color: var(--secondary-color);
}

.form-button {
  width: 100%;
  padding: 14px;
  font-size: 1.2rem;
  color: var(--white);
  background-color: var(--secondary-color);
}
